<!DOCTYPE html>
<html>
    <script src="{{ url_for('homepage.static', filename='js/loginjs.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('homepage.static', filename='css/logincss.css') }}"/>
<div class="login-box">
    <head>
        <title> Login</title>
        <div id="container">
            <img src="{{ url_for('homepage.static', filename='media/logo1-removebg-preview.png') }}"  alt="" width="300px">
        </div>
      </head>
    <h2>Login</h2>
    <h4>Enter order number and phone for customer</h4>
    <form action="/customerlogin" method="POST">
        <label>order</label>
        <input type="text" name="username" id="username" required="">
       <br><br><br>
        <label>phone </label>
        <input type="password" name="password" id="password" required="">
      <br><br>
        <input type="submit" value="Login" id="submit" onclick="validate()"  style=" padding: 10px; background: #03e9f4;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 1px #ffffff,
                0 0 20px #03e9f4">
      <a href=/ value="register" id="submit" style="margin-left: 100px" >   <span></span>  <span></span> <span></span> <span></span> employee Enter     </a>
{#   #}
    </form>
  </div>