
<title> sign up</title>
<link rel="stylesheet" href="{{ url_for('addnewproduct.static', filename='css/addnewuser.css') }}"/>
<div class="login-box" style="margin-top: 5%">
  <h2>New product</h2>
  <form action="/addnewproduct" method="POST">
     <input type="text" name="product_id" placeholder="product_id" />
      <input type="text" name="product_name" placeholder="product_name" />
      <input type="text" name="product_type" placeholder="product_type" />
      <input type="blob" name="product_pic"placeholder="product_pic"/>
      <input type="submit" >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </form>
</div>
