
<title> sign up</title>
<link rel="stylesheet" href="{{ url_for('addnewuser.static', filename='css/addnewuser.css') }}"/>
<div class="login-box" style="margin-top: 5%">
  <h2>New User</h2>
  <form action="/addnewuser" method="POST">
      <input type="text" name="EmployeId" placeholder="EmployeId" />
      <input type="text" name="fullname" placeholder="fullname" />
      <input type="text" name="user" placeholder="user" />
      <input type="password" name="password"placeholder="Password"/>
      <input type="text" name="shop_id" placeholder="shop_id" />
      <input type="submit">
      <a href="/" value="back to login " style="margin-left: 100px" ><span></span>  <span></span> <span></span> <span></span> back to login </a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </form>
</div>